/* login.html */
.main{
    background-image: url(../images/homeback.jpg);
    height: 100%;
    background-size: cover;
}

.container{
    margin-top: 100px;
    display: flex;
}

.login{
    text-align: center;
    width: 50%;
    border: 2px solid #ccc;
    padding: 40px 20px;
    box-sizing: border-box;
}

.regform{
    text-align: center;
    width: 40%;
    border: 2px solid #ccc;
    padding: 40px 20px;
    box-sizing: border-box;
}

.regform a{
    text-decoration: none;
}

.flex-child{
    flex: 1;
}

.flex-child:first-child{
    margin-right: 20px;
}

.login-btn{
    background: #1A5276;
    border: #427cc5;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

/* popup */
.modal{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    visibility: hidden; /* hiding the popup */
    opacity: 0;
}
.content {
    position: absolute;
    background: #fff;
    width: 1000px;
    padding: 20px 30px;
    border-radius: 10px;
}
.modal:target {
    visibility: visible; /* showing the popup */
    opacity: 1;
}
.box-close { /* for close button of popup */
    position: absolute;
    top: 0;
    right: 15px;
    color: #3CB371;
    text-decoration: none;
    font-size: 30px;
}

/* layout.html */
.spage{
    width: 20%;
    background-color: #1A5276;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.spage a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
    font-weight: bold;
}

.spage a:hover{
    background-color: rgba(0,0,0,.35);
}

.footer{
    color: white;
    padding-top: 25px;
    text-align: center;
    background-color: #3CB371;
    height: 10%;
    margin-top: 20px;
}

.index{
    float: right;
    background-color: #1A5276;
    width: 17%;
    border-radius: 25px;
    color: white;
}

.index a{
    background-color: #3CB371;
    color: white;
    border-radius: 25px;
}

.topbar{
    position: fixed;
    background-color: #3CB371;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 1.2% 0 1.2% 0;
}

.topbar a{
    text-decoration: none;
}

.header{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.dashboard a{
    background-color: #1A5276;
    color: white;
    padding: 10px 10px 10px 6px;
}

.icon{
    transform: translateY(20%);
}

/* index.html */
.heading-index{
    text-align: center;
    margin-top: 5%;
}

/* add_data.html */
.add-data{
    padding: 50px 0 0 250px;
}

input[type=text], input[type=number], input[type=date], input[type=time], input[type=email], input[type=password], #grall {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
    border-radius: 6px;
}

input[type=date], input[type=time], input[type=number] {
    width: 25% !important;
    display: inline-block !important;
}

/* settings.html */
.buttons-bottom{
    background: #1A5276;
    color: #fff;
    padding: 15px 20px;
    border: 2px solid #fff;
    cursor: pointer;
    width: 25%;
    border-radius: 25px;
    text-decoration: none;
}

.inside-form{
    border: 1px solid #ced4da;
    height: 100%;
    margin: auto auto 95px 50px;
    width: 80%;
    background: white;
    padding: 20px;
}

.stn-pop{
    top: 200px !important;
}

/* planner_data.html */
.responsive-table{
    border-collapse: collapse;
    margin: 0 0 0 10px;
}

.responsive-table td{
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 10px 0;
}

.responsive-table th{
    padding: 0 50px 0 50px;
    border: 1px solid black;
    background: #ddd;
}

.short{
    padding: 0 10px 0 10px !important;
}

/* current_yrdata.html */
.curpie{
    width: 800px;
    height: 500px;
}