{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Add Data</h1>
</div>

<div class="add-data">
    <div class="inside-form">
        <form method="post" action="/">
        <label><b>Income</b></label>
        <input autocomplete="off" type="number" placeholder="Enter your income" name="income" required>
        <br>
        <label><b>Other Amounts Earned</b></label>
        <input autocomplete="off" type="number" placeholder="Enter other amounts earned" name="tamounts" required>
        <br>
        <label><b>Tax</b></label>
        <input autocomplete="off" type="number" placeholder="Enter tax paid" name="tax" required>
        <br>
        <label><b>Other Expenditures</b></label>
        <input autocomplete="off" type="number" placeholder="Enter your other expenditures" name="oexpenditures" required>
        <br>
        <label><b>Date of Entry</b></label>
        <input autocomplete="off" type="date" name="date-of-entry" required>
        <br>
        <label><b>Comments</b></label>
        <input autocomplete="off" type="text" placeholder="Add comments" name="comments" required>

        <div>
            <button class="buttons-bottom" type="submit" name="" value="">SAVE</button>
            <button class="buttons-bottom" type="reset">RESET</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}