{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Current Year Data</h1>
</div>

<div class="add-data">
    <h3>Data of Current Year : {{ date }}</h3>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Income</th>
                <th>Other Earnings</th>
                <th>Tax</th>
                <th>Other Expenditures</th>
                <th>Date Of Entry</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for showdata in showdata %}
            <tr>
                <td>{{ showdata[0][0] }}</td>
                <td>{{ showdata[0][1] }}</td>
                <td>{{ showdata[0][2] }}</td>
                <td>{{ showdata[0][3] }}</td>
                <td>{{ showdata[0][4] }}</td>
                <td>{{ showdata[0][5] }}</td>
                <td>{{ showdata[0][6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}