{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>Welcome</h1>
    <h2>{{ date }}</h2>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>
                <div class="add-data">
                    <div id="div_flash" class="flash-msg">{{ message }}</div>
                    <input type="button" value=&#10006 onclick="removeFlash()" id="alert-close">
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}