{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Planner Data</h1>
</div>

<div class="add-data">
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="short">S.no</th>
                <th>Income</th>
                <th>Other Earnings</th>
                <th>Tax</th>
                <th>Other Expenditure</th>
                <th>Date Of Entry</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}