{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Planner</h1>
</div>

<div class="add-data">
    <form method="post" action="/send-back-patient-page">
        <label for="income"><b>Income</b></label>
        <input autocomplete="off" type="number" placeholder="Enter your income" name="income" required>

        <label for="earned"><b>Other Amounts Earned</b></label>
        <input autocomplete="off" type="number" placeholder="Enter other amounts earned" name="tamounts" required>

        <label for="tax"><b>Tax</b></label>
        <input autocomplete="off" type="number" placeholder="Enter tax paid" name="tax" required>

        <label for="expenditure"><b>Other Expenditures</b></label>
        <input autocomplete="off" type="number" placeholder="Enter your other expenditures" name="oexpenditures" required>

        <label for="date"><b>Date of Entry</b></label>
        <input autocomplete="off" type="date" name="date-of-entry" required>
        <br>
        <label for="comments"><b>Comments</b></label>
        <input autocomplete="off" type="text" placeholder="Add comments" name="comments" required>

        <div class="">
            <button type="submit" name="" value="" class="">SAVE</button>
            <button type="reset" class="">RESET</button>
        </div>
    </form>
</div>

{% endblock %}