{% extends "layout.html" %}

{% block body %}

<div class="heading-index" id="hide-ptitle">
    <h1>TODO Planner Data</h1>
</div>

<div class="add-data" id="hide-ptable">
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="short">UserID</th>
                <th>Income</th>
                <th>Other Earnings</th>
                <th>Tax</th>
                <th>Other Expenditure</th>
                <th>Date Of Entry</th>
                <th>Comments</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for plandata in plandata %}
            <tr class="plandata-{{ plandata[5] }}">
                <td>{{ plandata[0] }}</td>
                <td>{{ plandata[1] }}</td>
                <td>{{ plandata[2] }}</td>
                <td>{{ plandata[3] }}</td>
                <td>{{ plandata[4] }}</td>
                <td>{{ plandata[5] }}</td>
                <td>{{ plandata[6] }}</td>
                <td><button puid={{ plandata[0] }} pdoe={{ plandata[5] }} class="login-btn upd-plan" type="button">UPDATE</button></td>
                <td><button delpuid={{ plandata[0] }} delplan={{ plandata[5] }} class="login-btn del-plan">DELETE</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="heading-index" style="display:none" id="show-ptitle">
    <h1>TODO Update Plan</h1>
</div>

<div class="add-data" style="display:none" id="show-pform">
    <div class="inside-form">
        <form method="post" action="/planning-update">
        <label><b>Income</b></label>
        <input id="pincome" autocomplete="off" type="number" placeholder="Enter your income" name="upincome" required>
        <br>
        <label><b>Other Amounts Earned</b></label>
        <input id="pamounts" autocomplete="off" type="number" placeholder="Enter other amounts earned" name="upamounts" required>
        <br>
        <label><b>Tax</b></label>
        <input id="ptax" autocomplete="off" type="number" placeholder="Enter tax paid" name="uptax" required>
        <br>
        <label><b>Other Expenditures</b></label>
        <input id="pexp" autocomplete="off" type="number" placeholder="Enter your other expenditures" name="upothexp" required>
        <br>
        <label><b>Date of Entry</b></label>
        <input id="pdoe" autocomplete="off" type="date" name="up-date-of-entry" readonly>
        <br>
        <label><b>Comments</b></label>
        <input id="pcomments" autocomplete="off" type="text" placeholder="Add comments" name="upcomments" required>

        <input id="puserid" autocomplete="off" type="hidden" name="upuserid" readonly>

        <div>
            <button class="buttons-bottom" type="submit" name="upd-plan" value="upd-plan">UPDATE</button>
            <button class="buttons-bottom" type="reset">RESET</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}