{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Settings</h1>
</div>

<div class="add-data">
    <h3>Password Change</h3>
    <div class="inside-form">
        <form method="post" action="/pass-change">
            <label><b>New Password</b></label>
            <input autocomplete="off" type="text" placeholder="Enter new password" name="newpwd" required>

            <label><b>Confirm New Password</b></label>
            <input autocomplete="off" type="text" placeholder="Again enter new password" name="repwd" required>
        <div>
            <button class="buttons-bottom" type="submit" name="chng-pwd" value="chng-pwd">CONFIRM</button>
            <button class="buttons-bottom" type="reset">RESET</button>
        </div>
        <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </div>
        </form>
    </div>
</div>

<hr>

<div class="add-data">
    <h3>User Details</h3>
    <div class="inside-form">
       <form>
           <label><b>Username</b></label>
           <input autocomplete="off" type="text" name="username" value="{{ settingsdata[0][1] }}" readonly>

           <label><b>User Email</b></label>
           <input autocomplete="off" type="email" name="usemail" value="{{ settingsdata[0][2] }}" readonly>

           <label><b>Date Of Birth</b></label>
           <input autocomplete="off" type="date" name="dob" value="{{ settingsdata[0][3] }}" readonly>
           <br>
           <label><b>Phone Number</b></label>
           <input autocomplete="off" type="text" name="pnum" value="{{ settingsdata[0][4] }}" readonly>

           <label><b>Password</b></label>
           <input autocomplete="off" type="text" name="pass" value="{{ settingsdata[0][5] }}" readonly>
       </form>
       <a href="/show-upddet" class="buttons-bottom">UPDATE</a>
    </div>
</div>

{% endblock %}