{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Upload & Export</h1>
</div>

<div class="heading-index">
    <h2>Export as CSV</h2>
    <ol>
        <li>Press this button <button class="submit-button csv-btn">Export to CSV</button></li>
        <li>Check your downloads</li>
    </ol>
</div>

<div class="heading-index">
    <h2>Upload Documents</h2>
    <ul>
        <li>Press this button to upload financial documents</li>
        <button class="submit-button csv-btn">Choose File</button>
        <span>No file(s) selected</span>
    </ul>
</div>

<div class="heading-index">
    <h2>Your Documents</h2>
</div>

{% endblock %}