{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>TODO Upload & Export</h1>
</div>

<div class="add-data">
    <div class="inside-form">
        <h2 class="head-updown">Export as CSV</h2>
        <ol>
            <li>Press this button<a href="/exportcsv" class="buttons-bottom">Export to CSV</a> for data</li>
            <br>
            <li>Check your downloads</li>
        </ol>
    </div>
</div>

<div class="add-data">
    <div class="inside-form">
        <h2 class="head-updown">Export as CSV Plan</h2>
        <ol>
            <li>Press this button <a href="/exptplancsv" class="buttons-bottom">Export to CSV</a> for plan</li>
            <br>
            <li>Check your downloads</li>
        </ol>
    </div>
</div>


{% endblock %}